<!--Nav Bar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">NI:IC</a>
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">Shop</a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="/shop">Villagers</a></li>
            <li><a class="nav-link" href="/shop_facilities">Facilities</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/all_islands">Islands</a>
    </li>
    <li class="dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">Table Views</a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/villager/all">Villager</a></li>
          <li><a class="nav-link" href="/personality/all">Personality</a></li>
          <li><a class="nav-link" href="/species/all">Species</a></li>
          <li><a class="nav-link" href="/island/all">Island</a></li>
          <li><a class="nav-link" href="/facility/all">Facility</a></li>
          <li><a class="nav-link" href="/island_villager/all">Island_Villager</a></li>
          <li><a class="nav-link" href="/island_facility/all">Island_Facility</a></li>
          <li><a class="nav-link" href="/compatibility/all">Compatibility</a></li>
        </ul>
    </li>
</ul> 
</nav>