<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">AC:NH</a>
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/villager">Villagers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/personality">Personalities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/species">Species</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/island">Islands</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/facility">Facilities</a>
    </li>
</ul> 
</nav>