{{>searchbar}}

<div class="record-table">
    <table class="table table-striped">
        <thead>
            <tr>
                {{#each column_name}}
                    <th>{{this.COLUMN_NAME}}</th>
                {{/each}}
                    <th>update</th>
                    <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each record}}
                <tr>
                    {{#each ../column_name}}
                        <td>{{lookup .. this.COLUMN_NAME}}</td>
                    {{/each}}
                    <td><div class="button1"><a class="btn btn-light btn-sm" data-toggle="modal" data-target="#update-modal">Update</a></div></td>
                    <td><div class="button1"><a class="btn btn-light btn-sm">Delete</a></div></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{> update-modal}}
</div>
