{{>searchbar}}

<div class="record-table">
    <table class="table table-striped" id="{{this.table_name}}">
        <thead>
            <tr>
                {{#each this.column_name}}
                    <th>{{this.COLUMN_NAME}}</th>
                {{/each}}
                    <th>update</th>
                    <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.record}}
                <tr>
                    {{#each ../column_name}}
                        <td>{{lookup .. this.COLUMN_NAME}}</td>
                    {{/each}}

                    <td><div class="button2"><a class="btn btn-light btn-sm" data-toggle="modal">Update</a></div></td>
                    <td><div class="button3"><a class="btn btn-light btn-sm no-modal" data-toggle="modal" data-target="#delete-modal-{{lookup . ../column_name.0.COLUMN_NAME}}">Delete</a></div></td>
                </tr>
                {{>delete-modal (lookup . ../column_name.0.COLUMN_NAME)}}
            {{/each}}
        </tbody>
    </table>
    {{>update-modal}}
</div>

<script src="/js/update_button.js"></script>