<div class="page-wrapper">
    <h1>Facility Table</h1>
</div> 

<form>
    <fieldset>
        <legend><h3>Add A Facility</h3></legend>
        <label><h4>Facility Name: </h4></label><input type="text">
        <input type="submit"><br>
    </fieldset>
</form>

<h4>Insert Table Here</h4>