<div class="home-page">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<h1 class="first-line">Nook Inc: Island Creator</h1>
<br>
<div class="cover-heading1"><button type="button" class="btn btn-light btn-lg btn-block">Create/Update/Delete My Island</button></div>
<div class="cover-heading"><button type="button" class="btn btn-light btn-lg btn-block">View My Island</button></div>
<div class="cover-heading"><button type="button" class="btn btn-light btn-lg btn-block">Create A Villager</button></div>
<div class="cover-heading"><button type="button" class="btn btn-light btn-lg btn-block">Create A Personality</button></div>
<div class="cover-heading"><button type="button" class="btn btn-light btn-lg btn-block">Create A Species</button></div>
<div class="cover-heading"><button type="button" class="btn btn-light btn-lg btn-block">Create A Facility</button></div>

</div>
</div>