<div class="home-page">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<h1 class="first-line">Nook Inc: Island Creator</h1>
<br>
<div class="button1"><a href="/island" class="btn btn-light btn-lg btn-block">Create/Update/Delete My Island</a></div>
<div class="button"><a href="/island" class="btn btn-light btn-lg btn-block">View My Island</a></div>
<div class="button"><a href="/villager" class="btn btn-light btn-lg btn-block">Create A Villager</a></div>
<div class="button"><a href="/personality" class="btn btn-light btn-lg btn-block">Create A Personality</a></div>
<div class="button"><a href="/species" class="btn btn-light btn-lg btn-block">Create A Species</a></div>
<div class="button"><a href="/facility" class="btn btn-light btn-lg btn-block">Create A Facility</a></div>

</div>
</div>
