<div class="page-wrapper">
    <h1>Island Table</h1>

    <!-- Add Island -->
    <div class="button"><a href="/island" class="btn btn-light btn-lg btn-block" data-toggle="modal" data-target="#island">Create An Island</a></div>
    {{>table}}
    {{>add-modal}}

</div>
