<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

<div class="carousel-wrapper">
    <div class="carousel" data-flickity='{"pageDots": false, "wrapAround": true}'>
            {{#each villagers}}
                {{>villager_card this}}
            {{/each}}
    </div>
</div>