<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

<div class="d-flex p-2">
    <form class="form-inline" action="/villager_shop/island_change" method="POST">
        <select name="islandID" class="form-control" id="island-values">
                {{#each island_vals}}
                    <option value="{{this.islandID}}">{{this.name}}</option>
                {{/each}}
        </select>
        <button type="submit">go!</button>
    </form>
</div>

<h3>Available Villagers</h3>
<div class="carousel-wrapper">
    <div class="carousel" data-flickity='{"pageDots": false, "wrapAround": true}'>
            {{#each avail_villagers}}
                {{>villager_card this}}
            {{/each}}
    </div>
</div>

<h3>Villagers Currently on Island</h3>
<div class="carousel-wrapper">
    <div class="carousel" data-flickity='{"pageDots": false, "contain": true, "cellAlign": "left"}'>
            {{#each island_villagers}}
                {{>villager_card this}}
            {{/each}}
    </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        placement : 'left'
    });
});
</script>