<div class="page-wrapper">
    <h1>Table: {{entity.table_name}}</h1>
    
    <!-- Add Species -->
    <div class="button"><a href="/{{entity.table_name}}" id="add_button" class="btn btn-light btn-lg no-modal" data-toggle="modal" data-target="#add">{{entity.title.add}}</a></div>
    {{>table entity}}

    {{>add-modal entity}}

</div>

