<div class="page-wrapper">
    <h1>Villager Table</h1>
</div> 

<form>
    <fieldset>
        <legend class="vform"><h3>Add a Villager</h3></legend>
        <label class="vform">Name: </label><input type="text"><br>
        <label class="vform">Birthday: </label><input type="date"><br>
        <label class="vform">Hobby: </label>
        <select id="hobby" class="vform">
            <option value="nature">Nature</option>
            <option value="fitness">Fitness</option>
        </select><br>
        <label>Species: </label>
        <select id="species">
            <option value="bird">Bird</option>
            <option value="squirrel">Squirrel</option>
        </select><br>
        <label>Personality: </label>
        <select id="personality">
            <option value="cranky">Cranky</option>
            <option value="peppy">Peppy</option>
        </select><br>
        <label>Island: </label>
        <select></select><br>
        <input type="submit">
    </fieldset>
</form>



