<div class="page-wrapper">
    <h1>Villager Table</h1>
</div> 

<form>
    <fieldset>
        <legend><h3>Add a Villager</h3></legend>
        <label><h4>Name: </h4></label><input type="text"><br>
        <label><h4>Birthday: </h4></label><input type="date"><br>
        <label><h4>Hobby: </h4></label>
        <select id="hobby">
            <option value="nature">Nature</option>
            <option value="fitness">Fitness</option>
        </select><br>
        <label><h4>Species: </h4></label>
        <select id="species">
            <option value="bird">Bird</option>
            <option value="squirrel">Squirrel</option>
        </select><br>
        <label><h4>Personality: </h4></label>
        <select id="personality">
            <option value="cranky">Cranky</option>
            <option value="peppy">Peppy</option>
        </select><br>
        <label><h4>Island: </h4></label>
        <select></select><br>
        <input type="submit">
    </fieldset>
</form>