.button {
    padding-bottom: 15px;
    size: 100px;
    width: 625px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 70%;
}